.screen-header{
  padding-bottom: 55px;
}

.screen-header__icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.screen-header__icons div:last-child{
  margin-left: 30px;
  position:relative;
}

.recommended-friends{
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 25px;
  margin:25px 0px;
  font-weight: 600;
  opacity: var(--main-opacity);
}

.recommended-friends span{
  display: block;
  margin: 100px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.open-chat__header{
  display: flex;
  justify-content: space-between;
  opacity: var(--main-opacity);
  font-weight: 600;
  
}

.open-chat__header span{
  opacity: 0.7;
  font-weight: 600;
}

.open-post{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: var(--main-border);
}

.open-post__title{
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 10px;
}

.open-post1__hashtags{
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 600;
  margin-bottom: 10px;
}

.open-post__members{
  display: flex;
  align-items: center;
}

.open-post__members img{
  width: 20px;
  height: 20px;
  border-radius: 35%;
  margin-right: 10px;
}

.open-post__members-count{
  opacity: 0.6;
}

.open-post__members .divider{
  width: 1px;
  height: 15px;
  margin:5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.open-post__members-status{
  color: #FF83CF;
}

.open-post__photo{
  position:relative;
}
.open-post__photo img{
  width: 111px;
  height: 111px;
  border-radius: 15px;
}

.open-post__like{
  background-color: rgba(0, 0, 0, 0.4);
  padding:5px;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.open-post__like span{
  margin-left: 5px;
}

.open-post2__hashtags{
  opacity: 0.4;
  font-weight: 600;
  margin-bottom: 10px;
}



