#friends-display-link{
  display: block;
  text-align: center;
  background-color: #FAFAFA;
  padding:11px;
  color: #313131;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link i{
  color:rgba(0, 0,0,0.3);
  padding: 8px;
}

.friends-screen{
  padding-left: var(--horizotal-space);
}

.friends-screen__channel{
  border-top: var(--main-border);
  color: rgba(0, 0,0,0.3);
  font-weight: 600;
}

.friends-screen__channel--header{
  margin-top: 15px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.user-component__title--channel{
  font-size: 20px;
  font-weight:500;
}


