.kakaoPage-header{
  display: flex;
  align-items: center;
  padding: 40px 15px;
  background-color: #FFCE33;
  position: relative;
}

.alt-header__column:first-child{
  margin-right: auto;
}

.alt-header__column:nth-child(2){
  font-size: 20px;
  font-weight: 600;
}

.alt-header__column:last-child{
  margin-left: auto;
}

.search-bar{
  position: relative;
  width:90%;
  top:-30px;
  margin:0 auto;
}

.search-bar input{
  width: 90%;
  height: 10px;
  border-radius: 25px;
  position: relative;
  padding:20px 30px;
  font-weight: 700;
  background-color: white;
  border: 0;
  box-shadow: 0 5px 5px -5px black;
}

.search-bar button{
  position: absolute;
  top:19px;
  right:20px;
  border:0;
  background-color: white;
}

.search-bar i{
  opacity: 0.2;
}

main{
  padding-left:20px;
}

.first-title{
  font-weight: 600;
  font-size: 20px;
}

.bookInfo{
  display: flex;
  margin-top: 20px;
}

.bookInfo-column:first-child{
  width: 110px;
  height: 160px;
  background-color: teal;
  border-radius: 10px;
  margin-right: 20px;
}

.bookInfo-column >h3{
  margin: 0;
  margin-bottom: 10px;
}

.bookInfo-column span{
  font-size: 12px;
  font-weight: 600;
  opacity: 0.4;
}

.starPoint{
  color: #FFCE33;
  margin:5px 0;
}

.starPoint i:last-child{
  color:rgba(0, 0, 0, 0.1);
}

.bookInfo-btn{
  margin-top: 15px;
}

.bookInfo-btn:last-child{
  display: flex;
  justify-content: space-between;
}

#first-row__btn{
  width: 75px;
  height: 25px;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  opacity: 0.9;
}

#second-row__btn:first-child{
  background-color: #FFCE33;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 0;
}

#second-row__btn:last-child{
  width: 100px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.bookList-title{
  margin-top:30px;
  padding:10px 0;
  font-weight: 600;
  font-size: 20px;
}
.bookList{
  display: flex;
  overflow-x: auto;
}

.book{
  margin-right: 25px;
}
.bookImg{
  width: 75px;
  height: 110px;
  background-color: aqua;
  border-radius: 5px;
}

.starPoint i{
  font-size: 1px;
}

.author{
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  padding:10px 0;
}
.authorInfo{
  display: flex;
  margin-bottom: 30px;
}

.author-img{
  width: 100px;
  height: 130px;
  background-color: black;
  border-radius: 5px;
  margin-right: 25px;
}

.authorInfo-column:last-child{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.author-explaination{
  font-size: 15px;
  font-weight: 600;
  opacity: 0.5;
}
