.screen-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:var(--horizotal-space);
}

.screen-header__title{
  font-size: 29px;
  font-weight: 650;
}

.screen-heder__icons{
  display: flex;
  justify-content: space-between;
}

.screen-heder__icons span{
  margin-left: 29px;
}